<a href="https://colab.research.google.com/github/Koalalava/learn-arcade-work/blob/master/World%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px ### for plotting the data on world map


path = 'dead.csv'
df = pd.read_csv(path)
df.info()
df.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    268 non-null    object
 1   Series Code    266 non-null    object
 2   Country Name   266 non-null    object
 3   Country Code   266 non-null    object
 4   2004 [YR2004]  266 non-null    object
 5   2005 [YR2005]  266 non-null    object
 6   2006 [YR2006]  266 non-null    object
 7   2007 [YR2007]  266 non-null    object
 8   2008 [YR2008]  266 non-null    object
dtypes: object(9)
memory usage: 19.2+ KB

,Series Name,Series Code,Country Name,Country Code,2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008]
0,Battle-related deaths (number of people),VC.BTL.DETH,World,WLD,..,..,..,..,..
1,Battle-related deaths (number of people),VC.BTL.DETH,Afghanistan,AFG,715,1595,4750,6906,5552
2,Battle-related deaths (number of people),VC.BTL.DETH,Albania,ALB,..,..,..,..,..
3,Battle-related deaths (number of people),VC.BTL.DETH,Algeria,DZA,397,217,255,472,339
4,Battle-related deaths (number of people),VC.BTL.DETH,American Samoa,ASM,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...
95,Battle-related deaths (number of people),VC.BTL.DETH,Isle of Man,IMN,..,..,..,..,..
96,Battle-related deaths (number of people),VC.BTL.DETH,Israel,ISR,378,120,547,276,665
97,Battle-related deaths (number of people),VC.BTL.DETH,Italy,ITA,..,..,..,..,..
98,Battle-related deaths (number of people),VC.BTL.DETH,Jamaica,JAM,..,..,..,..,..
99,Battle-related deaths (number of people),VC.BTL.DETH,Japan,JPN,..,..,..,..,..

In [66]:
!pip install matplotlib --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.5.3)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (4.37.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (7.1.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib) (1.15.0)

In [67]:
df.drop(['Series Name','Series Code','Country Code'], axis = 1, inplace = True)

In [68]:
df.head()

,Country Name,2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008]
0,World,..,..,..,..,..
1,Afghanistan,715,1595,4750,6906,5552
2,Albania,..,..,..,..,..
3,Algeria,397,217,255,472,339
4,American Samoa,..,..,..,..,..

In [69]:
world = df.groupby("Country Name")["2004","2005","2006","2007","2008"].sum().reset_index()
world.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

KeyError: ignored

In [70]:
from matplotlib import container
top_5 = world.sort_values(by="2008", ascending=False).head(5)
top_5.head

<bound method NDFrame.head of                                    Country Name 2004 2005  2006  2007  2008
43                                         Chad   50  100  1250    69   991
131                   Late-demographic dividend   ..   ..    ..    ..  9720
224                                   Sri Lanka   ..   88  1970  2494  8262
49                             Congo, Dem. Rep.   ..   34   177   632   767
64   East Asia & Pacific (IDA & IBRD countries)   ..   ..    ..    ..   711>

In [71]:
plt.figure(figsize=(12,10))
plot = sns.barplot(x=top_5['2008'], y=top_5['Country Name'])
plot.bar_label(plot.containers[0])

plt.show()

TypeError: ignored